name: Release v1.5.0 scheduled CI

on:
  schedule:
    - cron: '0 0 * * 0'

jobs:

  build-rock:
    uses: canonical/sdcore-github-workflows/.github/workflows/build-rock.yaml@v2.3.8
    with:
      branch-name: "v1.5.0"

  scan-rock:
    needs: build-rock
    uses: canonical/sdcore-github-workflows/.github/workflows/scan-rock.yaml@v2.3.8
    with:
      branch-name: "v1.5.0"
